.fl {
  float: left;
}
.fr {
  float: right;
}
header .fixed-target {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  z-index: 2;
  display: none;
}
header .fixed-target .target-list {
  width: 1200px;
  height: 42px;
  margin: 0 auto;
  padding-top: 8px;
}
header .fixed-target .target-list li {
  padding: 8px 18px;
  border-radius: 16px;
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin: 0 15px;
}
header .fixed-target .target-list li em {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #ff5555;
  line-height: 20px;
  margin-right: 8px;
}
header .fixed-target .target-list li.show {
  background: #fc3601;
  color: #fff;
}
header .fixed-target .target-list li.show em {
  background: #fff;
  color: #fc3601;
}
header .top {
  height: 45px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fafafa;
}
header .top .con {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
}
header .top .top-left {
  margin-top: 17px;
}
header .top .top-left ul {
  margin-left: 5px;
}
header .top .top-left ul li {
  float: left;
}
header .top .top-left a {
  font-size: 12px;
  color: #777;
  margin-right: 5px;
}
header .top .top-left p {
  display: none;
}
header .top .top-left p em {
  padding: 0 5px;
}
header .top .top-left .o-login {
  display: inline-block;
  text-align: center;
  line-height: 18px;
  color: #cecece;
  width: 18px;
  height: 18px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
}
header .top .top-left .o-login i {
  font-size: 12px;
}
header .top .top-left .o-login:hover {
  border: 1px solid #3eb6e8;
  color: #3eb6e8;
}
header .top .top-left li:nth-of-type(2) > a:hover {
  border: 1px solid #4ea335;
  color: #4ea335;
}
header .top .top-left em {
  color: #333;
}
header .top .logined ul {
  display: none;
}
header .top .logined span {
  display: none;
}
header .top .logined p {
  display: block;
}
header .top .top-right {
  margin-top: 8px;
}
header .top .top-right li {
  float: left;
  width: 88px;
  line-height: 28px;
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
}
header .top .top-right li::before {
  content: "";
  border: 4px solid transparent;
  border-top-color: #c2c2c2;
  position: absolute;
  top: 12px;
  right: 3px;
}
header .top .top-right li::after {
  content: "";
  border: 3px solid transparent;
  border-top-color: #fafafa;
  position: absolute;
  top: 11px;
  right: 4px;
}
header .top .top-right li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-left: 10px;
  background: url("../imgs/top_ico.png") no-repeat 0 -15px;
  transition: 0.2s;
  position: relative;
  top: 1px;
}
header .top .top-right li a {
  color: #777;
}
header .top .top-right li:nth-of-type(2) i {
  background-position-x: -15px;
}
header .top .top-right li:nth-of-type(3) i {
  background-position-x: -30px;
}
header .top .top-right li:nth-of-type(4) i {
  background-position-x: -45px;
}
header .top .top-right li:nth-of-type(5) i {
  background-position-x: -60px;
}
header .top .top-right li:hover {
  border-color: #f0f0f0;
}
header .top .top-right li:hover::before {
  border-top-color: transparent;
  border-bottom-color: #c2c2c2;
  top: 8px;
}
header .top .top-right li:hover::after {
  border-top-color: transparent;
  border-bottom-color: #fafafa;
  top: 11px;
}
header .top .top-right li:hover i {
  background-position-y: -30px;
}
header .logoSearch {
  height: 100px;
  background-color: #fff;
}
header .logoSearch .con {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
header .logoSearch .logo {
  padding-top: 10px;
  width: 220px;
  height: 60px;
  float: left;
}
header .logoSearch .logo-tip {
  padding: 15px;
  margin-right: 55px;
  color: #fc3601;
  font-weight: 700;
  line-height: 70px;
  float: left;
}
header .logoSearch .search-wrap {
  width: 436px;
  height: 36px;
  border: 2px solid #fc3601;
  margin-top: 25px;
  float: left;
  color: #666;
}
header .logoSearch .search-wrap ul {
  float: left;
}
header .logoSearch .search-wrap ul:hover li:nth-child(2) {
  display: list-item;
}
header .logoSearch .search-wrap ul li {
  width: 66px;
  height: 36px;
  background: #f8f8f8;
  text-align: center;
  line-height: 36px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #f8f8f8;
  cursor: pointer;
}
header .logoSearch .search-wrap ul li i {
  content: "";
  border: 3px solid transparent;
  border-top-color: #999;
  display: inline-block;
  margin-left: 10px;
}
header .logoSearch .search-wrap ul li:hover {
  background: #eee;
}
header .logoSearch .search-wrap ul li:hover i {
  border-top-color: transparent;
  border-bottom-color: #999;
  margin-bottom: 3px;
}
header .logoSearch .search-wrap ul li:nth-child(2) {
  border-left-color: #ddd;
  display: none;
}
header .logoSearch .search-inp {
  float: left;
  width: 292px;
  height: 36px;
  padding-left: 7px;
  color: #666;
}
header .logoSearch .search-btn {
  width: 69px;
  height: 36px;
  background: #fc3601;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  float: left;
}
header .logoSearch .shop-car {
  float: right;
  margin-top: 20px;
}
header .logoSearch .shop-car a {
  font-size: 18px;
  color: #666;
  display: block;
  line-height: 42px;
  height: 44px;
  width: 168px;
  position: relative;
}
header .logoSearch .shop-car a i {
  background: url("../imgs/icon_common.png");
  background-position: -2px -293px;
  display: inline-block;
  width: 38px;
  height: 30px;
  position: absolute;
  left: 14px;
  top: 9px;
}
header .logoSearch .shop-car a em {
  background: #fc3601;
  border-radius: 50%;
  color: #fff;
  display: block;
  width: 16px;
  height: 16px;
  font-size: 12px;
  left: 39px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 3px;
}
header .logoSearch .shop-car a span {
  display: block;
  position: absolute;
  left: 64px;
  top: 0;
  font-size: 18px;
  color: #666;
  line-height: 42px;
}
section .nav-wrap {
  height: 46px;
  background-color: #fc3601;
}
section .nav-wrap .nav-con {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
section .nav-wrap .nav-con .nav {
  float: left;
  width: 212px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
}
section .nav-wrap .nav-con .nav:hover .nav-list {
  display: block;
}
section .nav-wrap .nav-con .nav-title {
  width: 100%;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  position: relative;
}
section .nav-wrap .nav-con .nav-title i {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url("../imgs/css_sprites.png") -10px -82px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
section .nav-wrap .nav-con .nav-list {
  width: 100%;
  font-size: 14px;
  background: #333;
  position: relative;
  z-index: 2;
  line-height: 32px;
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
}
section .nav-wrap .nav-con .nav-list li {
  transition: 0.4s;
  padding-left: 15px;
}
section .nav-wrap .nav-con .nav-list li i {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url("../imgs/css_sprites.png") -49px -10px;
}
section .nav-wrap .nav-con .nav-list li a {
  color: #fff;
}
section .nav-wrap .nav-con .nav-list li .list-con {
  width: 755px;
  height: 356px;
  border: 1px solid #010f5a;
  display: none;
  border-top-width: 2px;
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
}
section .nav-wrap .nav-con .nav-list li:nth-child(2) i {
  background-position: -46px -46px;
}
section .nav-wrap .nav-con .nav-list li:nth-child(3) i {
  background-position: -86px -10px;
}
section .nav-wrap .nav-con .nav-list li:nth-child(4) i {
  background-position: -10px -46px;
}
section .nav-wrap .nav-con .nav-list li:nth-child(5) i {
  background-position: -10px -10px;
}
section .nav-wrap .nav-con .nav-list li:nth-child(6) i {
  background-position: -86px -46px;
}
section .nav-wrap .nav-con .nav-list li:hover {
  background: #000;
  padding-left: 18px;
}
section .nav-wrap .nav-con .nav-list li:hover div {
  display: block;
}
section .nav-wrap .nav-con .nav-list .list-con .popular {
  padding: 10px 0 0 20px;
}
section .nav-wrap .nav-con .nav-list .list-con .popular a {
  display: inline-block;
  padding: 7px 9px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background: #7c7171;
}
section .nav-wrap .nav-con .nav-list .list-con .popular a:hover {
  background: #fc3601;
}
section .nav-wrap .nav-con .nav-list .list-con .kind {
  font-size: 12px;
}
section .nav-wrap .nav-con .nav-list .list-con .kind dt {
  float: left;
}
section .nav-wrap .nav-con .nav-list .list-con .kind dt a {
  color: #555;
}
section .nav-wrap .nav-con .nav-list .list-con .kind dd a {
  color: #7c7171;
}
footer {
  border-top: 1px solid #eee;
}
footer .f-contain {
  width: 1200px;
  margin: 0 auto;
}
footer .f-contain .con-t {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #eee;
}
footer .f-contain .con-t ul {
  padding-top: 30px;
}
footer .f-contain .con-t ul li {
  float: left;
  font-size: 12px;
  color: #333;
  line-height: 25px;
  margin: 0 22px 0 18px;
  font-weight: bold;
}
footer .f-contain .con-t ul li img {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
}
footer .f-contain .con-t ul li:last-child {
  float: right;
  margin: 0;
}
footer .f-contain .con-t ul li:last-child .phone {
  color: #bbd702;
  font-weight: normal;
}
footer .f-contain .con-t ul li:last-child .time {
  color: #999;
  font-weight: normal;
}
footer .f-contain .con-m {
  width: 100%;
  height: 210px;
}
footer .f-contain .con-m .links dl {
  float: left;
  font-size: 12px;
  color: #666;
  padding: 20px 0 0 35px;
  width: 116px;
}
footer .f-contain .con-m .links dl:last-child {
  width: 150px;
  padding-left: 100px;
  background: url("../imgs/2014_ncs_public_img.png") -150px -110px no-repeat;
}
footer .f-contain .con-m .links dl:last-child p {
  line-height: 20px;
}
footer .f-contain .con-m .links dl:last-child .btn {
  display: block;
  margin: 6px 0 0;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  background: #a9d702;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}
footer .f-contain .con-m .links dt {
  color: #333;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer .f-contain .con-m .links dd {
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer .f-contain .con-b {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
footer .f-contain .con-b a {
  color: #666;
}
