body {
    background: #eee;
}
.shop {
    width: 800px;
    margin: 50px auto;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    .shop-img{
        float: left;
        width: 300px;
        height: 370px;
        margin-right: 10px;
        .big-img{
            height: 300px;
            border: 1px solid #eee;
            margin-bottom: 10px;
            position: relative;
            background-size: cover;
            border: 1px solid #333;
            .big-box{
                width: 0;
                height: 0;
                position: absolute;
                z-index: 2;
                left: 50%;
                top: 50%;
                // border: 1px solid red;
                background-size: 900px 900px;
                background-repeat: no-repeat;
            }
            .min-box{
                width: 100px;
                height: 100px;
                border: 1px solid #ddd;
                position: absolute;
                top: 0;
                z-index: 5;
                opacity: 0;
                cursor: crosshair;
            }
        }
        .img-list-wrap{
            overflow: auto;
            height: 60px;
            position: relative;
            .img-list{
                position: absolute;
                height: 60px;
                li{
                    width: 58px;
                    height: 58px;
                    border: 1px solid #eee;
                    float: left;
                    margin-right: 5px;
                    background-size: cover;
                    &.show{
                        border-color: #f32613;
                    }
                }
            }
        }
        // .swiper-container {
        //     width: 100%;
        //     height: 300px;
        //     margin-left: auto;
        //     margin-right: auto;
        //     .swiper-slide {
        //         background-size: cover;
        //         background-position: center;
        //     }
        // }
        // .gallery-top {
        //     height: 80%;
        //     width: 100%;
        // }
        // .gallery-thumbs {
        //     height: 20%;
        //     box-sizing: border-box;
        //     padding: 10px 0;
        //     .swiper-slide {
        //         width: 25%;
        //         height: 100%;
        //         border: 1px solid #eee;
        //     }
        //     .swiper-slide-thumb-active {
        //         border: 1px solid #f32613;
        //     }      
        // }
        
    }
    .shop-data {
        float: left;
        span {
            line-height: 30px;
        }
    }
    .shop-name {
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }
    .shop-market-price {
        text-decoration: line-through;
    }
    .shop-price {
        color: red;
        font-size: 20px;
    }
    .count {
        position: relative;
        margin-bottom: 5px;
        input {
            color: #333;
            font-family: Tahoma;
            font-size: 16px;
            font-weight: 600;
            line-height: 41px;
            text-align: center;
            height: 41px;
            width: 41px;
            padding: 0;
            border: solid 1px #eee;
            background-color: #FFF;
            display: inline-block;
        }
        span {
            background-color: #FFF;
            background: url(../imgs/2014_ncs_public_img.png) no-repeat;
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #eee;
            border-left: none;
            position: absolute;
            left: 42px;
            cursor: pointer;
        }
        .add {
            background-position: -100px -100px;
            top: 0;
        }
        .reduce {
            background-position: -120px -100px;
            top: 21px;
        }
    }
    .box {
        position: relative;
        .add-to-car {
            background: #fc3601;
        }
        .add-to-car:hover {
            background: #cf0010;
        }
        .buy {
            background: #ba7538;
            &:hover {
                background: #96602e;
            }
        }
        .tip-box {
            text-align: center;
            width: 320px;
            height: 100px;
            border: solid 1px #eee;
            box-shadow: 0 0 3px rgba(153, 153, 153, .25);
            position: absolute;
            bottom: -100px;
            color: #333;
            background: #f5f5f5;
            line-height: 40px;
            display: none;
            span {
                display: inline-block;
                color: #fff;
                font-size: 12px;
                padding: 6px;
                line-height: 12px;
                border-radius: 4px;
                cursor: pointer;
            }
            .go-to-car {
                background: #48cfae;
            }
            .go-on-buy {
                background: #ccd0d9;
            }
        }
        button{
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            width: 100px;
            height: 42px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    
}